#nav-bar {
  position: fixed; /* fixed in the viewport, will stay in position as we scroll */
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em; 
  z-index:4;
}

#nav-bar .logo {
  width:80px;
  height:80px;
  position: relative;
  float: left;
  clear:left;
}

#nav-bar .header {
  line-height: 2.5;
  font-size: 200%;
  position: fixed;
  /* float: left;
  clear:left; */
  margin-left: 10px;
  color: white
}

#nav-bar button{
  border: 1px solid black;
  border-radius: 5px;
  background-color: #E7FDFF;
  padding: 10px;
  margin: 10px 0px;
  height: 60%;
  width: 120px;
  float: right;
  opacity:.6
}
#nav-bar button:hover {
  opacity: 1;     
  border: 1.5px solid black        
}